<h1><%= @restaurant.name %></h1>

  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %>
  <p><%= @restaurant.category.capitalize %></p>

<h2>All Reviews for <%= @restaurant.name %></h2>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %><strong>Rating:</strong> <%= review.rating %></li>
  <% end %>
</ul>

<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
<%= link_to "Back to restaurants", restaurants_path %>
